<h1><%= @user.email %></h1>
<h3>Member Since: <%= @user.created_at.strftime("%B %Y") %></h3>
<h4> You have commented: <%= @user.comments.count %> times </h4>
<h5> Number of 5 Star Reviews: <%= @user.comments.where(:rating => '5_stars').count %></h5>
	