.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
}

.comments-button {
  margin-top: 10px;

}

.navbar.navbar-inverse {
	background: url('/assets/grey_wash_wall.png');
	border-radius: 0;
	box-shadow: 0px 2px 5px #888888;
  margin-bottom: 0px


}

body {
	
	background: url('/assets/linedpaper.png');
/* Trebuchet-based sans serif stack */
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;

}

/* navigation bar control for website name*/
.navbar-inverse .navbar-brand {
    color: #FFFFFF;
    font-family: 'code_pro_light_demoregular';
    font-size: 40px;
    margin-bottom: 0px
}

/* navigation bar control for LINKS */
.navbar-inverse .navbar-nav > li > a {
	font-family: 'code_pro_light_demoregular';
  	color: #FFFFFF;
}

.pagination {
  font-family: 'code_pro_light_demoregular';
  text-align: center;
}

.field_with_errors {
  color: #FF3333;
  background-color: pink;
  border-radius: 3px;
  
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
      }
    #map {
    height: 300px;
  }

.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}
blockquote:after {
content: no-close-quote;

}

img {
  max-width: 100%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    max-height: 550px;
}

.carousel-caption {
    font-family: 'code_pro_demoregular';
  color: #FFFFFF;
  font-size: 50px;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 2px 2px;


}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}
