.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
}

.navbar.navbar-inverse {
	background: url('/assets/grey_wash_wall.png');
	border-radius: 0;
	box-shadow: 0px 2px 5px #888888;


}

body {
	
	background: url('/assets/linedpaper.png');
/* Trebuchet-based sans serif stack */
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;

}

/* navigation bar control for website name*/
.navbar-inverse .navbar-brand {
    color: #FFFFFF;
    font-family: 'code_pro_light_demoregular';
    font-size: 40px;
}

/* navigation bar control for LINKS */
.navbar-inverse .navbar-nav > li > a {
	font-family: 'code_pro_light_demoregular';
  	color: #FFFFFF;
}

.pagination {
  font-family: 'code_pro_light_demoregular';
  text-align: center;
}

.field_with_errors {
  color: #FF3333;
  background-color: pink;
  border-radius: 3px;
  
}



